body {
  font: normal 16px/1.6 sans-serif;
  padding: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
}

hr {
  background: #ddd;
  border: 0;
  margin: 1em 0 2em;
  height: 1px;
  width: 100%;
}